@use '../../styles/mixins/typography';
@use '../../styles/variables/colors';

.button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 34px;

  background: colors.$primary__color;
  border-radius: 80px;

  &__text {
    @extend %text-black;
  }
}
