@use '../../styles/mixins/typography';
@use '../../styles/variables/colors';

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 80px;

  height: 34px;
  background: colors.$primary__color;
  cursor: pointer;
  width: 100px;

  &__text {
    @extend .text-black;
    text-transform: capitalize;
  }
}
