@use '../../styles/mixins/media';
@use '../../styles/mixins/typography';
@use '../../styles/variables/colors';

.users {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;

  text-align: center;

  &__title {
    @extend %title-black;
  }

  &__text {
    @extend %text-black;

    &--error {
      color: colors.$error__color;
    }
  }

  &__list {
    @include media.onTablet {
      grid-template-columns: repeat(2, 344px);
      gap: 16px;
    }

    @include media.onDesktop {
      grid-template-columns: repeat(3, 282px);
      gap: 29px;
    }

    @include media.onWideDesktop {
      grid-template-columns: repeat(3, 370px);
    }

    display: grid;
    grid-template-columns: repeat(1, 328px);
    gap: 20px;
    justify-content: center;
  }

  &__button {
    @extend %text-black;

    cursor: pointer;

    width: 120px;
    height: 34px;

    background-color: colors.$primary__color;
    border-radius: 80px;

    transition: background-color, 0.3s;

    &:hover:not(:disabled) {
      background-color: colors.$primary-hover__color;
    }

    &--disable {
      cursor: not-allowed;
      color: colors.$white__color;
      background-color: colors.$light-gray__color;
    }
  }
}
