@use '../../styles/mixins/media';
@use '../../styles/variables/colors';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;

  background-color: colors.$white__color;

  &__nav {
    display: flex;
    gap: 10px;
  }
}
