$primary__color: #f4e041;
$primary-hover__color: #ffe302;
$secondary__color: #00bdd3;
$background__color: #f8f8f8;
$black__color: #000000de;
$white__color: #ffffffde;
$gray__color: #7e7e7e;
$light-gray__color: #b4b4b4;
$error__color: #cb3d40;

$text-colors: (
  "black": $black__color,
  "white": $white__color,
  "gray": $gray__color,
  "error": $error__color,
);
